{% extends "viewflow/base_site.html" %}
{% load i18n admin_static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">

{% if app_list %}
    {% for app in app_list %}
        <div class="module">
        <table>
        <caption>
            <a href="{{ app.app_url }}" class="section">
                {% blocktrans with name=app.name %}{{ name }}{% endblocktrans %}
            </a>
        </caption>
        {% for flow in app.flows %}
            <tr>
            {% if flow.tasks_url %}
                <th scope="row"><a href="{{ flow.tasks_url }}">{{ flow.name }}</a></th>
            {% else %}
                <th scope="row">{{ flow.name }}</th>
            {% endif %}

            {% if flow.start_url %}
                <td><a href="{{ flow.start_url }}" class="addlink">{% trans 'Start' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            </tr>
        {% endfor %}
        </table>
        </div>
    {% endfor %}
{% else %}
    <p>{% trans "You don't have permission to any flow." %}</p>
{% endif %}
</div>
{% endblock %}
