{% extends 'viewflow/base.html' %}
{% load viewflow %}

{% block title %}{{ block.super}} | All tasks{% endblock %}

{% block content %}
<div>
    <h1>All Queues</h1>
</div>
<table class="table">
    <thead>
        <th>#</th>
        <th>Process</th>
        <th>Name</th>
        <th class="span1">Started</th>
        <th class="span1">Finished</th>
        <th>Status</th>
    </thead>
    <tbody>
        {% for task in queue %}
        <tr>
            <td><a href="{% flowurl task user=request.user %}">{{ task.process.id }}/{{ task.id }}</a></td>
            <td><a href="{% flowurl task.process 'details' %}">{{ task.process.id }}</a></td>
            <td>{{ task.flow_task }}</td>
            <td>{{ task.created }}</td>
            <td>{{ task.finished|default:"" }}</td>
            <td>{{ task.get_status_display }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}


