{% extends 'viewflow/base.html' %}
{% load viewflow %}

{% block title %}{{ block.super}} | All tasks{% endblock %}

{% block content %}
<div>
    <h1>All tasks list</h1>
</div>
<table class="table">
    <thead>
        <th>#</th>
        <th>Process</th>
        <th>Task</th>
        <th>Description</th>
        <th class="span1">Summary</th>
        <th class="span1">Assigned</th>
    </thead>
    <tbody>
        {% for task in task_list %}
        <tr>
            <td><a href="{% flowurl task user=request.user %}">{{ task.process.id }}/{{ task.id }}</a></td>
            <td><a href="{% flowurl task.process 'details' %}">{{ task.flow_task.flow_cls.process_title }}</a></td>
            <td>{{ task.flow_task }}</td>
            <td>{{ task.summary }}</td>
            <td>{{ task.flow_process.summary }}</td>
            <td>{{ task.created }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}


