/* 
  Layout
*/
body {
    padding-top: 100px;
    background-color: #f8f8f8;
}

@media(min-width:768px) {
    body {
        padding-top: 50px;
    }
}

#wrapper {
    width: 100%;
}

#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: #fff;
}

/* Sidebar */

.navbar-static-side ul li {
    border-bottom: 1px solid #e7e7e7;
}

.navbar-static-side ul {
    border-top: 1px solid #e7e7e7;
}

.navbar-static-side ul li.active {
    background-color: #eee;
}

@media(min-width:768px) {
    .navbar-static-side {
        z-index: 1;
        position: absolute;
        width: 250px;
        margin-top: 51px;
    }
}

@media(max-height:600px) and (max-width:767px) {
    .sidebar-collapse {
        max-height: 300px;
        overflow-y: scroll;
    }
}

@media(max-height:400px) and (max-width:767px) {
    .sidebar-collapse {
        max-height: 200px;
        overflow-y: scroll;
    }
}

.sidebar-search {
    padding: 15px;
}

.nav-second-level li,
.nav-third-level li {
    border-bottom: none !important;
}

.nav-second-level li a {
    padding-left: 37px;
}

@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 250px;
        padding: 0 30px;
        min-height: 1300px;
        border-left: 1px solid #e7e7e7;
    }
}

/*
  Forms
*/

.form-group.required .control-label:after {
    content: "*";
    color: red;
}

.form-group.form-control {
    border-radius: 0px;
}

.form-group .alert-formerror {
    padding: 5px;
    border-radius: 0px;
    margin-left: 0px;
}

.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
   padding: 15px 0;
}

.btn-del {
    background: none;
}

.btn-del span {
    vertical-align: middle;
}

.btn-add {
    background: none;
    color: #285e8e;
}

.login-panel {
    margin-top: 25%;
}