main .row .row {
  margin-left: -0.75rem;
  margin-right: -0.75rem; }

.data-card {
  overflow: initial; }
  .data-card .card-title {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 100;
    margin-top: -10px; }

/* LIST PAGE */
.filters-card {
  overflow: initial; }
  .filters-card .card-title {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 100;
    margin-top: -10px; }
  .filters-card .card-content {
    padding: 20px;
    padding-top: 10px; }
  .filters-card a {
    margin-right: 0; }
  .filters-card #changelist-search-button {
    z-index: 1000;
    position: absolute;
    right: 15px;
    top: 15px; }
    .filters-card #changelist-search-button i.material-icons {
      font-size: 18px; }

.card .pagination {
  padding-top: 15px; }
  .card .pagination > .col {
    line-height: 36px; }

/* DETAIL PAGE */
.detail-card {
  overflow: initial;
  margin-bottom: 5px; }
  .detail-card .card-title {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 300;
    margin-top: -10px; }
  .detail-card .card-content {
    padding: 20px;
    padding-top: 10px; }
  .detail-card a {
    margin-right: 0; }

.card .card-bend {
  position: absolute;
  right: 0px;
  top: 0px;
  color: #fff;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 0px;
  padding-bottom: 10px;
  text-transform: uppercase; }
  .card .card-bend.disabled {
    color: #444;
    background-color: #e0e0e0; }
  .card .card-bend h5 {
    font-size: 0.8rem;
    line-height: 1rem; }
  .card .card-bend h6 {
    font-size: 0.7rem;
    line-height: 0.3rem; }

table span.badge {
  position: relative;
  right: auto;
  display: inline-block;
  width: 60px;
  font-weight: 300;
  font-size: 0.8rem;
  color: #fff;
  border-radius: 2px;
  text-transform: uppercase; }

.card.data-card .card-content table span.badge.badge-high {
  background-color: #F44336; }

.card.data-card .card-content table span.badge.badge-low {
  background-color: #616161; }
