{% load viewflow %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Viewflow project samples</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet">
        <style type="text/css">
          body {
              padding-top: 60px;
              padding-bottom: 40px;
          }
          .glyphicon{
              min-width: 15px;
          }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <ul class="nav navbar-nav" style="width:100%">
                    <li {% if request.path == "/" %}class="active"{% endif %}><a href="/">Home</a></li>
                    <li {% if "/helloworld/" in request.path %}class="active"{% endif %}><a href="{% flowurl 'helloworld/HelloWorldFlow.index' %}">Hello, World</a></li>
                    <li {% if "/shipment" in request.path %}class="active"{% endif %}><a href="{% flowurl 'shipment/ShipmentFlow.index' %}">Shipment</a></li>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ request.user.username|title|default:"Anonymous" }} <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'login_as' %}"><i class="glyphicon {% if request.user.is_anonymous %}glyphicon-ok{% endif %}"></i> Anonymous</a></li>
                                {% for user in users %}
                                <li><a href="{% url 'login_as' %}?user_pk={{ user.pk }}"><i class="glyphicon {% if request.user == user %}glyphicon-ok{% endif %}"></i> {{ user.username|title }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                </ul>
            </div>
        </nav>

        <div class="container">
            {% block content %}
            {% endblock %}

        </div>

        <footer class="navbar-fixed-bottom">
            <div class="container">
                <p>&copy; Mikhail Podgurskiy 2014</p>
            </div>
        </footer>

        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    </body>
</html>
