[*]
charset = utf-8
trim_trailing_whitespace = true
end_of_line = lf
indent_style = space
insert_final_newline = true
indent_size = 2

[*.py]
indent_size = 4

[*.{md,rst,in}]
indent_style = ignore
indent_size = ignore

[{Makefile,**.mk}]
indent_style = tab