/.env
/.static
*.pyc
/.build
.media
/.mypy_cache
/.tox
/.venv*
/.coverage
/.vscode
/cookbook/_articles/chatgpt/subtitles/
/avatars/
/build
/coverage
/html
/dist
/site/dist/
/django_viewflow.egg-info
/django_viewflow_pro.egg-info
/MANIFEST
/crm.sqlite3
db*.sqlite3
dj*.sqlite3
db*.sqlite3-journal
node_modules/
/docs/_build/**
/npm-debug.log
/geckodriver.log
