include LICENSE
include MANIFEST.in
include README.rst
recursive-include viewflow/templates *
recursive-include viewflow/locale *
recursive-include viewflow/frontend/static *
recursive-include viewflow/frontend/templates *
