# viewflow
https://github.com/django/django/archive/1.7c1.zip
singledispatch==3.4.0.3
django-fsm==2.1.0
celery==3.1.13

# viewflow.site
django-extra-views==0.6.4
django-tag-parser==2.0b1

# viewflow.test
django-webtest==1.7.7
webtest==2.0.15
