{% load viewflow %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Form Sample Template</title>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  </head>
  <body>
      <div class="container">
          <div class="page-header">
              <h1>Form example</h1>
          </div>

          <form method="POST">
              {% viewform 'unit/form_layout.html' %}
              {% endviewform %}
          </form>

          <div class="page-header">
              <h1>Standard django</h1>
          </div>

          <form method="POST">
              <table>
                  {{ form.as_table }}
              </table>
          </form>
      </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  </body>
</html>

