{% extends 'viewflow/base_site.html' %}
{% load viewflow %}
{% block content %}
<div class="nav-tabs-custom">
    <ul class="nav nav-tabs" role="tablist">
        <li class="active">
            <a href="#viewflow_tab" data-toggle="tab">Viewflow</a>
        </li>
        <li>
            <a href="#standard_tab" data-toggle="tab">Standard django</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="viewflow_tab">
            <form method="POST" enctype="multipart/form-data">
                {% viewform 'viewflow/form/layout.html' %}
                     {# Add pencil icon on text_input field #}
                     {% viewpart field_group_class_add 'text_input' %}has-feedback{% endviewpart %}
                     {% viewpart field_icon 'text_input' %}<span class="glyphicon glyphicon glyphicon-pencil form-control-feedback"></span>{% endviewpart %}
                {% endviewform %}
            </form>
        </div>
        <div class="tab-pane" id="standard_tab">
            <form method="POST" enctype="multipart/form-data">
                <table>
                    {{ form.as_table }}
                </table>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
