{% extends 'viewflow/base_site.html' %}
{% load viewform %}

{% block content %}
<div class="page-header">
    <h1> Form rendering example</h1>
</div>
<div class="nav-tabs-custom">
    <ul class="nav nav-tabs" role="tablist">
        <li class="active">
            <a href="#viewflow_tab" data-toggle="tab">Viewflow</a>
        </li>
        <li>
            <a href="#standard_tab" data-toggle="tab">Standard django</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="viewflow_tab">
            <form method="POST" enctype="multipart/form-data">
                {% viewform 'viewflow/form/bootstrap3/form.html' form=form layout=view.layout %}
                     {# Add pencil icon on text_input field #}
                     {% viewpart form.text_input.field append %}<span class="glyphicon glyphicon glyphicon-pencil input-group-addon"></span>{% endviewpart %}
                {% endviewform %}
            </form>
        </div>
        <div class="tab-pane" id="standard_tab">
            <form method="POST" enctype="multipart/form-data">
                <table>
                    {{ form.as_table }}
                </table>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
