.vf-page-lockscreen {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  background-color: #3f51b5;
  background-color: var(--mdc-theme-primary, #3f51b5);
}

.vf-page-lockscreen__sidebar {
  width: 400px;
  background: #fff;
  background: var(--mdc-theme-background, #fff);
  opacity: 0.95;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.vf-page-lockscreen__sidebar-header {
  padding: 20px;
}

.vf-page-lockscreen__sidebar-header-title {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: Roboto, sans-serif;
  /* @alternate */
  font-family: var(--mdc-typography-headline5-font-family, var(--mdc-typography-font-family, Roboto, sans-serif));
  font-size: 1.5rem;
  /* @alternate */
  font-size: var(--mdc-typography-headline5-font-size, 1.5rem);
  line-height: 2rem;
  /* @alternate */
  line-height: var(--mdc-typography-headline5-line-height, 2rem);
  font-weight: 400;
  /* @alternate */
  font-weight: var(--mdc-typography-headline5-font-weight, 400);
  letter-spacing: normal;
  /* @alternate */
  letter-spacing: var(--mdc-typography-headline5-letter-spacing, normal);
  text-decoration: inherit;
  /* @alternate */
  text-decoration: var(--mdc-typography-headline5-text-decoration, inherit);
  text-transform: inherit;
  /* @alternate */
  text-transform: var(--mdc-typography-headline5-text-transform, inherit);
}

.vf-page-lockscreen__sidebar-header-subtitle {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: Roboto, sans-serif;
  /* @alternate */
  font-family: var(--mdc-typography-subtitle2-font-family, var(--mdc-typography-font-family, Roboto, sans-serif));
  font-size: 0.875rem;
  /* @alternate */
  font-size: var(--mdc-typography-subtitle2-font-size, 0.875rem);
  line-height: 1.375rem;
  /* @alternate */
  line-height: var(--mdc-typography-subtitle2-line-height, 1.375rem);
  font-weight: 500;
  /* @alternate */
  font-weight: var(--mdc-typography-subtitle2-font-weight, 500);
  letter-spacing: 0.0071428571em;
  /* @alternate */
  letter-spacing: var(--mdc-typography-subtitle2-letter-spacing, 0.0071428571em);
  text-decoration: inherit;
  /* @alternate */
  text-decoration: var(--mdc-typography-subtitle2-text-decoration, inherit);
  text-transform: inherit;
  /* @alternate */
  text-transform: var(--mdc-typography-subtitle2-text-transform, inherit);
}

.vf-page-lockscreen__sidebar-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
  margin-bottom: 100px;
}

.vf-page-lockscreen__sidebar-action-row {
  text-align: right;
}

.vf-page-lockscreen__sidebar-content-action {
  width: 100%;
}

.vf-page-lockscreen__sidebar-footer {
  display: flex;
  padding: 20px;
  justify-content: center;
}

.vf-page-lockscreen__sidebar-footer-action {
  width: 100%;
}

.vf-page-lockscreen__content {
  width: 100%;
  height: 100%;
}
@media (max-width: 600px) {
  .vf-page-lockscreen__content {
    display: none;
  }
}

.vf-page-lockscreen__content-icon {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.vf-page-lockscreen__content-icon > i.material-icons {
  color: white;
  font-size: 20rem;
}

.vf-page-lockscreen-reset-link {
  display: block;
  text-align: right;
  margin: 8px;
  text-decoration: none;
  font-size: 14px;
}.vf-page__grid {
  padding: 12px;
  width: 100%;
}

.vf-page__grid-inner {
  grid-gap: 12px;
}

@media (max-width: 839px) {
  .vf-page__grid {
    padding: 0px;
  }

  .vf-page-__grid-inner {
    grid-gap: 0px;
  }
}
.vf-page__menu {
  border: none;
}

.vf-page__menu.mdc-drawer--dismissible.mdc-drawer--open:not(.mdc-drawer--closing) {
  position: relative;
  height: auto;
}

.vf-page__menu-header {
  color: white;
  color: var(--mdc-theme-text-on-primary, white);
  background: linear-gradient(110deg, #3f51b5, 60%, #6f7dcd 60%);
  background: linear-gradient(110deg, var(--mdc-theme-primary, #3f51b5) 60%, rgba(220, 220, 220, 0.25) 60%) var(--mdc-theme-primary, #3f51b5);
  padding: 15px;
}

.vf-page__menu-header-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.vf-page__menu-avatar {
  height: 54px;
  min-height: 54px;
  width: 54px;
  display: block;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.vf-page__menu-info {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
}

.vf-page__menu-title {
  padding-top: 5px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: Roboto, sans-serif;
  /* @alternate */
  font-family: var(--mdc-typography-subtitle1-font-family, var(--mdc-typography-font-family, Roboto, sans-serif));
  font-size: 1rem;
  /* @alternate */
  font-size: var(--mdc-typography-subtitle1-font-size, 1rem);
  line-height: 1.75rem;
  /* @alternate */
  line-height: var(--mdc-typography-subtitle1-line-height, 1.75rem);
  font-weight: 400;
  /* @alternate */
  font-weight: var(--mdc-typography-subtitle1-font-weight, 400);
  letter-spacing: 0.009375em;
  /* @alternate */
  letter-spacing: var(--mdc-typography-subtitle1-letter-spacing, 0.009375em);
  text-decoration: inherit;
  /* @alternate */
  text-decoration: var(--mdc-typography-subtitle1-text-decoration, inherit);
  text-transform: inherit;
  /* @alternate */
  text-transform: var(--mdc-typography-subtitle1-text-transform, inherit);
  white-space: nowrap;
  text-overflow: ellipsis;
}

.vf-page__menu-subtitle {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: Roboto, sans-serif;
  /* @alternate */
  font-family: var(--mdc-typography-subtitle2-font-family, var(--mdc-typography-font-family, Roboto, sans-serif));
  font-size: 0.875rem;
  /* @alternate */
  font-size: var(--mdc-typography-subtitle2-font-size, 0.875rem);
  line-height: 1.375rem;
  /* @alternate */
  line-height: var(--mdc-typography-subtitle2-line-height, 1.375rem);
  font-weight: 500;
  /* @alternate */
  font-weight: var(--mdc-typography-subtitle2-font-weight, 500);
  letter-spacing: 0.0071428571em;
  /* @alternate */
  letter-spacing: var(--mdc-typography-subtitle2-letter-spacing, 0.0071428571em);
  text-decoration: inherit;
  /* @alternate */
  text-decoration: var(--mdc-typography-subtitle2-text-decoration, inherit);
  text-transform: inherit;
  /* @alternate */
  text-transform: var(--mdc-typography-subtitle2-text-transform, inherit);
}

.vf-page__menu-toggle {
  display: flex;
  align-items: flex-end;
  text-decoration: none;
}

.vf-page__menu-toggle-button {
  margin-right: -16px;
  margin-bottom: -4px;
}
.vf-page__menu-toggle-button i.material-icons {
  display: inline-flex;
  vertical-align: middle;
  transform: rotate(-360deg);
  transition: transform 150ms linear;
}

.vf-page__menu-toggle-button:not(:disabled) {
  color: white;
  color: var(--mdc-theme-text-primary-on-primary-dark, white);
}

.vf-page__menu-primary {
  display: block;
}

.vf-page__menu-secondary {
  display: none;
}

.vf-page__menu--secondary-open .vf-page__menu-primary {
  display: none;
}
.vf-page__menu--secondary-open .vf-page__menu-secondary {
  display: block;
}
.vf-page__menu--secondary-open .vf-page__menu-toggle-button:not(:disabled) i.material-icons {
  transform: rotate(-180deg);
}

.mdc-drawer .vf-page__menu-list-item {
  margin: 0;
  padding: 4px 16px;
}
.mdc-drawer .vf-page__menu-list-item > i.material-icons {
  width: 24px;
  height: 24px;
  margin-left: 0;
  margin-right: 32px;
  color: rgba(0, 0, 0, 0.54);
}
.mdc-drawer .vf-page__menu-list-item.mdc-list-item--selected {
  color: #3f51b5;
  color: var(--mdc-theme-primary, #3f51b5);
}
.mdc-drawer .vf-page__menu-list-item.mdc-list-item--selected > i.material-icons {
  color: inherit;
}

:not(.mdc-list--non-interactive) .vf-page__menu-list-item.mdc-list-item:before {
  transition: unset;
}

.mdc-drawer .vf-page__menu-subheader {
  margin-bottom: 8px;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  background: #eee;
}

.turbolinks-progress-bar {
  background-color: #ff4081;
  background-color: var(--mdc-theme-secondary, #ff4081);
}

.vf-page {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 100%;
}

.vf-page__body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.mdc-drawer.mdc-drawer--open:not(.mdc-drawer--closing) + .vf-page__body.mdc-drawer-app-content {
  margin-left: 0;
}

.vf-page__body-toolbar {
  margin-left: -1px;
  min-height: 64px;
  position: static;
}
.vf-page__body-toolbar .mdc-top-app-bar__title {
  padding-left: 8px;
  font-weight: 400;
}

.vf-page__content {
  display: flex;
  height: 100%;
  align-items: flex-start;
}@charset "UTF-8";
.vf-card__header {
  padding: 1rem;
  position: relative;
}

.vf-card__title {
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: Roboto, sans-serif;
  /* @alternate */
  font-family: var(--mdc-typography-headline6-font-family, var(--mdc-typography-font-family, Roboto, sans-serif));
  font-size: 1.25rem;
  /* @alternate */
  font-size: var(--mdc-typography-headline6-font-size, 1.25rem);
  line-height: 2rem;
  /* @alternate */
  line-height: var(--mdc-typography-headline6-line-height, 2rem);
  font-weight: 500;
  /* @alternate */
  font-weight: var(--mdc-typography-headline6-font-weight, 500);
  letter-spacing: 0.0125em;
  /* @alternate */
  letter-spacing: var(--mdc-typography-headline6-letter-spacing, 0.0125em);
  text-decoration: inherit;
  /* @alternate */
  text-decoration: var(--mdc-typography-headline6-text-decoration, inherit);
  text-transform: inherit;
  /* @alternate */
  text-transform: var(--mdc-typography-headline6-text-transform, inherit);
  font-weight: 400;
}

.vf-card__breadcrumbs {
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: Roboto, sans-serif;
  /* @alternate */
  font-family: var(--mdc-typography-subtitle2-font-family, var(--mdc-typography-font-family, Roboto, sans-serif));
  font-size: 0.875rem;
  /* @alternate */
  font-size: var(--mdc-typography-subtitle2-font-size, 0.875rem);
  line-height: 1.375rem;
  /* @alternate */
  line-height: var(--mdc-typography-subtitle2-line-height, 1.375rem);
  font-weight: 500;
  /* @alternate */
  font-weight: var(--mdc-typography-subtitle2-font-weight, 500);
  letter-spacing: 0.0071428571em;
  /* @alternate */
  letter-spacing: var(--mdc-typography-subtitle2-letter-spacing, 0.0071428571em);
  text-decoration: inherit;
  /* @alternate */
  text-decoration: var(--mdc-typography-subtitle2-text-decoration, inherit);
  text-transform: inherit;
  /* @alternate */
  text-transform: var(--mdc-typography-subtitle2-text-transform, inherit);
  margin-bottom: 10px;
}
.vf-card__breadcrumbs a {
  text-decoration: none;
  color: #3f51b5;
  color: var(--mdc-theme-primary, #3f51b5);
}
.vf-card__breadcrumbs a:before {
  content: "î—Œ";
  vertical-align: top;
  display: inline-block;
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  margin-left: -2px;
  margin-right: 2px;
  color: rgba(0, 0, 0, 0.87);
  color: var(--mdc-theme-text-primary-on-background, rgba(0, 0, 0, 0.87));
}
.vf-card__breadcrumbs a:first-child:before {
  display: none;
}
.vf-card__breadcrumbs a:last-child {
  color: rgba(0, 0, 0, 0.87);
  color: var(--mdc-theme-text-primary-on-background, rgba(0, 0, 0, 0.87));
}

.vf-card__menu {
  display: flex;
  position: absolute;
  right: 8px;
  top: 16px;
}
.vf-card__menu .mdc-list-item__graphic,
.vf-card__menu .mdc-list-item__text {
  pointer-events: none;
  margin-right: 16px;
}

.vf-card__menu-trigger {
  min-width: 48px;
}

.vf-card__form {
  padding-left: 1rem;
  padding-right: 1rem;
}

.vf-card__alert {
  margin-top: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: Roboto, sans-serif;
  /* @alternate */
  font-family: var(--mdc-typography-headline6-font-family, var(--mdc-typography-font-family, Roboto, sans-serif));
  font-size: 1.25rem;
  /* @alternate */
  font-size: var(--mdc-typography-headline6-font-size, 1.25rem);
  line-height: 2rem;
  /* @alternate */
  line-height: var(--mdc-typography-headline6-line-height, 2rem);
  font-weight: 500;
  /* @alternate */
  font-weight: var(--mdc-typography-headline6-font-weight, 500);
  letter-spacing: 0.0125em;
  /* @alternate */
  letter-spacing: var(--mdc-typography-headline6-letter-spacing, 0.0125em);
  text-decoration: inherit;
  /* @alternate */
  text-decoration: var(--mdc-typography-headline6-text-decoration, inherit);
  text-transform: inherit;
  /* @alternate */
  text-transform: var(--mdc-typography-headline6-text-transform, inherit);
  font-size: 1rem;
  padding: 8px;
  text-align: center;
  color: rgba(0, 0, 0, 0.54);
  color: var(--mdc-theme-on-secondary, rgba(0, 0, 0, 0.54));
  background-color: #e91e63;
  background-color: var(--mdc-theme-secondary, #e91e63);
}

.vf-card__actions {
  justify-content: flex-end;
  padding: 24px;
  padding-bottom: 12px;
}