{% extends 'viewflow/base_site.html' %}

{% block title %}{{ block.super}} | {{ flow_cls.process_title }}{% endblock %}

{% block content %}
{% if flow_cls.process_title %}
<div class="page-header">
    <h1>{{ flow_cls.process_title }}</h1>
</div>
{% endif %}

{% if has_start_permission %}
<a class="btn btn-default" href="{% url 'viewflow:start' %}">Start New<a>
{% endif %}
<table class="table">
    <thead>
        <th>#</th>
        <th class="span1">Started</th>
        <th class="span1">Finished</th>
        <th>Active Tasks</th>
    </thead>
    <tbody>
        {% for process in process_list %}
        <tr>
            <td>{{ process.id }}</td>
            <td>{{ process.created }}</td>
            <td>{{ process.finished|default:"" }}</td>
            <td>
                {% for task in process.active_tasks %}
                <a href="{{ task.get_absolute_url }}">{{ task.flow_task.name }}</a>
                {% endfor %}
            </td>

        </tr>
        {% empty %}
        <tr>
            <td colspan="3">No process yet</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
