{% extends 'viewflow/base_site.html' %}
{% load viewform %}

{% block title %}{{ block.super}} | {{ flow_cls.process_title }}{% endblock %}

{% block content %}
{% if flow_cls.process_title %}
<div class="page-header">
    <h1>{{ flow_cls.process_title }}</h1>
</div>
{% endif %}
{% if flow_cls.process_description %}
{{ flow_cls.process_description|restructuredtext }}
{% endif %}

{% include_process_data process %}

<h2>Tasks</h2>
<table class="table">
    <thead>
        <th>#</th>
        <th>Name</th>
        <th class="span1">Started</th>
        <th class="span1">Finished</th>
        <th>Process</th>
        <th>Status</th>
    </thead>
    <tbody>
        {% for task in task_list %}
        <tr>
            <td>
                {% with task.get_absolute_url as task_url %}
                {% if task_url %}
                <a href="{{ task_url }}?back={{ request.get_full_path|urlencode }}">
                    {{ task.process.id }}/{{ task.id }}
                </a>
                {% else %}
                    {{ task.process.id }}/{{ task.id }}
                {% endif %}
                {% endwith %}
            </td>
            <td>{{ task.flow_task }}</td>
            <td>{{ task.created }}</td>
            <td>{{ task.finished|default:"" }}</td>
            <td>{{ task.process }}</td>
            <td>{{ task.get_status_display }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
