{% extends 'viewflow/base_site.html' %}
{% load viewflow viewform %}

{% block title %}{{ block.super}} | {{ flow_cls.process_title }}{% endblock %}

{% block content %}
{% if flow_cls.process_title %}
<div class="page-header">
    <h1>{{ flow_cls.process_title }}</h1>
</div>
{% endif %}
{% if flow_cls.process_description %}
{{ flow_cls.process_description|restructuredtext }}
{% endif %}

{% if start_actions %}
{% for action_url, action_name in start_actions %}
<a class="btn btn-default" href="{{ action_url }}?back={{ request.get_full_path|urlencode }}">{{ action_name|title }}</a>
{% endfor %}
{% endif %}
<table class="table">
    <thead>
        <th>#</th>
        <th class="span1">Started</th>
        <th class="span1">Finished</th>
        <th>Active Tasks</th>
    </thead>
    <tbody>
        {% for process in process_list %}
        <tr>
            <td><a href="{% url 'viewflow:details' process_pk=process.id %}">{{ process.id }}</a></td>
            <td>{{ process.created }}</td>
            <td>{{ process.finished|default:"" }}</td>
            <td>
                {% for task in process.active_tasks %}
                {% with task.get_absolute_url as task_url %}
                {% if task_url %}
                <a href="{{ task_url }}?back={{ request.get_full_path|urlencode }}">
                    {{ task.flow_task }}
                </a>
                {% else %}
                    {{ task.flow_task }}
                {% endif %}
                {% endwith %}
                {% endfor %}
            </td>

        </tr>
        {% empty %}
        <tr>
            <td colspan="3">No process yet</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% pagination page_obj %}

{% endblock %}
