{% extends 'viewflow/base_module.html' %}
{% load viewflow viewflow_frontend material_form %}

{% block breadcrumbs_items %}
{% include 'viewflow/includes/breadcrumb_category.html' %}
<a class="active">Confirm {{ view.action_name|title }}</a>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col s12 m8 l9">
        <div class="card data-card">
            <div class="card-content">
                <table class="table selectable bordered">
                    <thead>
                        <th>#</th>
                        <th>Description</th>
                        <th>Summary</th>
                        <th>Task Type</th>
                        <th>Process</th>
                    </thead>
                    <tbody>
                        {% for task in tasks %}
                        <tr>
                            <td><a target="_blank" href="{% flowurl task user=request.user ns=request.resolver_match.namespace ns_map=view.ns_map %}">{{ task.process.id }}/{{ task.id }}</a></td>
                            <td><a target="_blank" href="{% flowurl task user=request.user ns=request.resolver_match.namespace ns_map=view.ns_map %}">{{ task.summary }}</a></td>
                            <td>{{ task.flow_process.summary }}</td>
                            <td>{{ task.flow_task }}</td>
                            <td><a target="_blank" href="{% flowurl task.process 'detail' ns=request.resolver_match.namespace ns_map=view.ns_map %}">{{ task.process.flow_class.process_title }} #{{task.process.pk}}</a></td>
                        </tr>
                        {% empty %}
                        <tr><td>No task selected</td></tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="card-action row">
                <div class="col s3">&nbsp;</div>
                <div class="col s9 right-align">
                    <form method="POST">
                        {% csrf_token %}
                        <button class="btn green white-text btn-flat">{{ view.action_name }}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
