{% extends 'viewflow/flow/start.html' %}

{% block content %}
<h1>{% if activation.flow_task.task_title %}{{ activation.flow_task.task_title }}{% else %}Start {{ activation.flow_class.process_title|lower }}{% endif %}</h1>

<form role="form" method="POST">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <h3>Items</h3>
    <table>
        {{ formset.as_table }}
    </table>
    {{ activation.management_form }}
    <button type="submit" name="_start" class="btn btn-primary btn-lg">Start</button>
    <button type="submit" name="_continue" class="btn btn-default btn-lg">Start and continue on this process</button>
</form>
{% endblock %}
