{% load static %}<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Viewflow{% endblock %}</title>
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
        {% block css %}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link href="{% static 'viewflow/css/font-awesome.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'viewflow/css/chosen/chosen.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'viewflow/css/AdminLTE.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'viewflow/css/viewflow.css' %}" rel="stylesheet" type="text/css">
        {% endblock %}
    </head>
    <body class="skin-blue">
        <header class="header">
            <a href="index.html" class="logo">{% block branding %}Viewflow{% endblock %}</a>
            <nav class="navbar navbar-static-top" role="navigation">
                <div class="navbar-right">
                    {% block navright %}
                    {% endblock %}
                </div>
            </nav>
        </header>

        {% block leftside %}
        <aside class="left-side">
            <section class="sidebar">
                {% block sidebar %}
                {% endblock sidebar %}
            </section>
        </aside>
        {% endblock leftside %}

        {% block rightside %}
        <aside class="right-side">

            <section class="content">
                <div class="row">
                    <div class="col-xs-12">
                        {% block breadcrumbs %}
                        <ol class="breadcrumb">
                            <li><a href="/">Home</a></li>
                        </ol>
                        {% endblock %}
                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="box box-solid">
                        <div class="box-body">
                            {% block content %}
                            {% endblock content %}
                        </div>
                    </div>
                </div>
            </section>
        </aside>
        {% endblock rightside %}
    </body>

    {% block js %}
      <!-- jQuery 2.0.2 -->
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
      
      <!-- Bootstrap -->
      <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

      <!-- InputMask -->
      <script src="{% static 'viewflow/js/input-mask/jquery.inputmask.js' %}" type="text/javascript"></script>
      <script src="{% static 'viewflow/js/input-mask/jquery.inputmask.date.extensions.js' %}" type="text/javascript"></script>
      <script src="{% static 'viewflow/js/input-mask/jquery.inputmask.extensions.js' %}" type="text/javascript"></script>

      <!--ICheck -->
      <script src="{% static 'viewflow/js/iCheck/icheck.js' %}" type="text/javascript"></script>

      <!-- Choosen -->
      <script src="{% static 'viewflow/js/chosen/chosen.jquery.js' %}" type="text/javascript"></script>


      <!-- Theme AdminLte -->
      <script src="{% static 'viewflow/js/AdminLte.js' %}" type="text/javascript"></script>

      <!-- On load -->
      <script type="text/javascript">
            $(function() {
                $("[data-mask]").inputmask();
                $(".chosen").chosen({ width: '100%' });
                {% block js_ready %}{% endblock %}
            });
      </script>
    {% endblock %}
</html>
