{% extends 'viewflow/base_site.html' %}
{% load viewflow viewform %}

{% block title %}{{ block.super}} | All processes{% endblock %}

{% block content %}
<div class="page-header">
    <h1>All processes list</h1>
</div>
<table class="table">
    <thead>
        <th>#</th>
        <th>Process</th>
        <th class="span1">Started</th>
        <th class="span1">Finished</th>
        <th>Active Tasks</th>
    </thead>
    <tbody>
        {% for process in process_list %}
        <tr>
            <td><a href="{% flowurl process.flow_cls 'viewflow:details' process_pk=process.id %}">{{ process.id }}</a></td>
            <td>{{ process.flow_cls.process_title }}</td>
            <td>{{ process.created }}</td>
            <td>{{ process.finished|default:"" }}</td>
            <td>
                {% for task in process.active_tasks %}
                {% with task.get_absolute_url as task_url %}
                {% if task_url %}
                <a href="{{ task_url }}?back={{ request.get_full_path|urlencode }}">
                    {{ task.flow_task }}
                </a>
                {% else %}
                    {{ task.flow_task }}
                {% endif %}
                {% endwith %}
                {% endfor %}
            </td>

        </tr>
        {% empty %}
        <tr>
            <td colspan="3">No process yet</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% pagination page_obj %}

{% endblock %}
