{% extends 'viewflow/base_site.html' %}
{% load viewflow viewform %}

{% block title %}{{ block.super}} | All tasks{% endblock %}

{% block content %}
<div class="page-header">
    <h1>All tasks list</h1>
</div>
<table class="table">
    <thead>
        <th>#</th>
        <th>Process</th>
        <th>Name</th>
        <th class="span1">Started</th>
        <th class="span1">Finished</th>
        <th>Status</th>
    </thead>
    <tbody>
        {% for task in task_list %}
        <tr>
            <td><a href="{{ task.get_absolute_url }}">{{ task.process.id }}/{{ task.id }}</a></td>
            <td><a href="{% flowurl task.process.flow_cls 'viewflow:details' process_pk=task.process.id %}">{{ task.process }}</a></td>
            <td>{{ task.flow_task }}</td>
            <td>{{ task.created }}</td>
            <td>{{ task.finished|default:"" }}</td>
            <td>{{ task.get_status_display }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% pagination page_obj %}

{% endblock %}


