{% extends 'viewflow/base_module.html' %}
{% load viewflow viewflow_frontend %}

{% block breadcrumbs_items %}
{% include 'viewflow/includes/breadcrumb_category.html' %}
<a href="{% flowurl view.flow_class 'index' %}?{{ request|query_back:'copy' }}">{{ view.flow_class.process_title }}</a>
<a class="active">#{{ process.pk }}</a>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col s12 m6 l8">
        <div class="card form-card">
            <div class="card-content">
                <div class="card-bend center-align {% if process.finished %}disabled{% endif %}">
                    <h5>{{ view.flow_class.process_title }}</h5>
                    <h6>{% if process.finished %}Finished{% else %}in-progresss{% endif %}</h6>
                </div>
                <div class="form-title">{{ process.summary }}</div>
                <table class="table bordered">
                    <thead>
                        <th>#</th>
                        <th>Name</th>
                        <th>Owner</th>
                        <th class="span1">Started</th>
                        <th class="span1">Finished</th>
                        <th class="span1">Description</th>
                        <th>Status</th>
                    </thead>
                    <tbody>
                        {% for task in task_list %}
                        <tr>
                            <td>
                                {% flowurl task user=request.user as task_url %}
                                {% if task_url %}
                                <a href="{{ task_url }}?{{ request|query_back:'here_if_none' }}">
                                    {{ task.process.id }}/{{ task.id }}
                                </a>
                                {% else %}
                                {{ task.process.id }}/{{ task.id }}
                                {% endif %}
                            </td>
                            <td>{{ task.flow_task }}</td>
                            <td>{{ task.owner|default:"" }}</td>
                            <td>{{ task.created }}</td>
                            <td>{{ task.finished|default:"" }}</td>
                            <td>{{ task.summary }}</td>
                            <td>{{ task.status }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="card-action">
                <div class="right-align">
                    {% if view.flow_class.manage_permission_name in perms %}
                    <a class="btn-flat black-text {% if process.status != 'NEW' %}disabled{% endif %}"
                       href="{% flowurl process 'action_cancel' %}?{{ request|query_back:'copy' }}">Cancel</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l4">
        {% with hide_active_tasks=True %}
            {% include_process_data process %}
        {% endwith %}
    </div>
</div>
{% endblock %}
