{% extends 'viewflow/flow/base_task.html' %}
{% load i18n material_frontend viewflow viewflow_frontend %}

{% block breadcrumbs_items_extra %}
<a class="active">{% trans 'Assign' %}</a>
{% endblock %}


{% block task_title %}{{ block.super }} :: {% trans 'Assign' %}{% endblock %}

{% block task_actions %}
<div class="card-action">
    <div class="left">
        <a class="btn btn-flat black-text" href="{% flowurl activation.task 'detail' %}?{{ request|query_back }}">{% trans 'Detail' %}</a>
    </div>
    <div class="right">
        <form role="form" method="POST">
            {% csrf_token %}
            <button type="submit" name="_continue" class="btn btn-flat hide-on-small-only">{% trans 'Assign and continue on this process' %}</button>
            <button type="submit" name="_assign" class="btn primary btn-lg">{% trans 'Assign' %}</button>
        </form>
    </div>
    <div style="clear:both"></div>
</div>
{% endblock %}

