{% extends 'viewflow/flow/base_task.html' %}
{% load viewflow viewflow_frontend %}

{% block breadcrumbs_items_extra %}
&rang; <a>ASSIGN</a>
{% endblock %}


{% block task_actions %}
<div class="col s3">
    <a class="btn btn-flat black-text" href="{% flowurl activation.task 'detail' %}?{{ request|query_back:'copy' }}">detail</a>
</div>
<div class="col s9 right-align">
    <form role="form" method="POST">
        {% csrf_token %}
        <button type="submit" name="_continue" class="btn btn-flat">Assign and continue on this process</button>
        <button type="submit" name="_assign" class="btn green btn-lg">Assign</button>
    </form>
</div>
{% endblock %}

