{% extends 'viewflow/flow/base_task.html' %}
{% load material_frontend viewflow viewflow_frontend %}

{% block breadcrumbs_items_extra %}
<a class="active">{{ view.action_name|title }}</a>
{% endblock %}


{% block task_actions %}
<div class="left">
    <a class="btn btn-flat black-text" href="{% flowurl activation.task 'detail' %}?{{ request|query_back }}">detail</a>
</div>
<div class="right">
    <form role="form" method="POST" style="display:inline-block">
        {% csrf_token %}
        <button type="submit" name="run_action" class="btn btn-flat">Confirm {{ view.action_name }}</button>
    </form>
</div>
{% endblock %}
