.object-tools a.disabled {
    display: block;
    float: left;
    padding: 3px 12px;
    background: #ccc;
    font-weight: 400;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: #fff;
    cursor: not-allowed;
}
