{% extends 'viewflow/base.html' %}
{% load viewflow %}

{% block title %}{{ block.super}} | {{ flow_cls.process_title }}{% endblock %}

{% block content %}
{% if flow_cls.process_title %}
<div>
    <h1>{{ flow_cls.process_title }}</h1>
</div>
{% endif %}

{% if flow_cls.process_description %}
{{ flow_cls.process_description }}
{% endif %}

{% include_process_data process %}

<div>
    {{ process.summary }}
</div>

<h2>Tasks</h2>
<table class="table">
    <thead>
        <th>#</th>
        <th>Name</th>
        <th>Owner</th>
        <th class="span1">Started</th>
        <th class="span1">Finished</th>
        <th class="span1">Description</th>
        <th>Status</th>
    </thead>
    <tbody>
        {% for task in task_list %}
        <tr>
            <td>
                {% flowurl task user=request.user as task_url %}
                {% if task_url %}
                <a href="{{ task_url }}?back={{ request.get_full_path|urlencode }}">
                    {{ task.process.id }}/{{ task.id }}
                </a>
                {% else %}
                    {{ task.process.id }}/{{ task.id }}
                {% endif %}
            </td>
            <td>{{ task.flow_task }}</td>
            <td>{{ task.owner }}</td>
            <td>{{ task.created }}</td>
            <td>{{ task.finished|default:"" }}</td>
            <td>{{ task.summary }}</td>
            <td>{{ task.status }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
