{% extends 'viewflow/base.html' %}
{% load viewflow %}

{% block title %}{{ block.super}} | {{ flow_cls.process_title }}{% endblock %}

{% block content %}
{% if flow_cls.process_title %}
<div>
    <h1>{{ flow_cls.process_title }}</h1>
</div>
{% endif %}

{% if flow_cls.process_description %}
{{ flow_cls.process_description }}
{% endif %}

{% include_process_data process %}

<h2>Active Tasks</h2>
<table class="table">
    <thead>
        <th>#</th>
        <th>Name</th>
        <th class="span1">Started</th>
        <th class="span1">Finished</th>
        <th>Process</th>
        <th>Status</th>
    </thead>
    <tbody>
        {% for task in active_tasks %}
        <tr>
            <td>
                {% flowurl task user=request.user as task_url %}
                {% if task_url %}
                <a href="{{ task_url }}?back={{ request.get_full_path|urlencode }}">
                    {{ task.process.id }}/{{ task.id }}
                </a>
                {% else %}
                    {{ task.process.id }}/{{ task.id }}
                {% endif %}
            </td>
            <td>{{ task.flow_task }}</td>
            <td>{{ task.created }}</td>
            <td>{{ task.finished|default:"" }}</td>
            <td><a href="{% flowurl task.process 'details' %}">{{ task.process }}</td>
            <td>
                {{ task.status }}
                {% if task in uncancelable_tasks %}
                <div class="alert alert-danger" role="alert">UNCANCELABLE</div>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


<form role="form" method="POST">
    {% csrf_token %}
    <button type="submit" name="_cancel_process" class="btn btn-primary btn-lg">Cancel</button>
</form>
{% endblock %}

