{% extends 'viewflow/base.html' %}
{% load viewflow %}

{% block title %}{{ block.super}} | {{ flow_class.process_title }}{% endblock %}

{% block content %}
{% if flow_class.process_title %}
<h1>{{ flow_class.process_title }}</h1>
{% endif %}

{% if flow_class.process_description %}
<p>{{ flow_class.process_description }}</p>
{% endif %}

{% flow_start_actions view.flow_class request.user as start_actions %}
{% for action in start_actions %}
<a class="btn btn-default" href="{% flowurl view.flow_class action.name %}?back={{ request.get_full_path|urlencode }}">
    {{ action.task_title|default:action.name|title }}
</a>
{% endfor %}

<table class="table">
    <thead>
        <th>#</th>
        <th class="span1">Started</th>
        <th class="span1">Finished</th>
        <th>Active Tasks</th>
    </thead>
    <tbody>
        {% for process in process_list %}
        <tr>
            <td><a href="{% flowurl process 'detail' %}">{{ process.id }}</a></td>
            <td>{{ process.created }}</td>
            <td>{{ process.finished|default:"" }}</td>
            <td>
                {% for task in process.active_tasks %}
                {% flowurl task user=request.user as task_url %}
                {% if task_url %}
                <a href="{{ task_url }}?back={{ request.get_full_path|urlencode }}">
                    {{ task.flow_task }}
                </a>
                {% else %}
                    {{ task.flow_task }}
                {% endif %}
                {% endfor %}
            </td>

        </tr>
        {% empty %}
        <tr>
            <td colspan="3">No process yet</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
