{% extends 'viewflow/base.html' %}
{% load viewflow %}

{% block content %}
<h1>{{ activation.flow_task }}</h1>

{% include_process_data activation.process %}

<h4>Task Details</h4>
<dl class="dl-horizontal">
  <dt>Name</dt>
  <dd>{{ activation.task.flow_task }}</dd>
  <dt>Created</dt>
  <dd>{{ activation.task.created }}</dd>
  <dt>Started</dt>
  <dd>{{ activation.task.started }}</dd>
  <dt>Finished</dt>
  <dd>{{ activation.task.started }}</dd>
  <dt>Owner</dt>
  <dd>{{ activation.task.owner }}</dd>
  <dt>Permission</dt>
  <dd>{{ activation.task.owner_permission }}</dd>
</dl>


{% endblock %}
