{% extends 'viewflow/base_site.html' %}
{% load bootstrap3 %}

{% block content %}
<form role="form" method="POST">
    {% csrf_token %}
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">Task {{ activation.flow_task.name }}</h3>
        </div>
        <div class="box-body">
            {% bootstrap_form form %}
            {{ activation.management_form }}
        </div>
        <div class="box box-footer">
            <button type="submit" name="start" class="btn btn-primary">Done</button>
        </div>
    </div>
</form>
{% endblock %}
