{% extends 'material/frontend/base.html' %}
{% load static %}

{% block title %}Viewflow - business process automation with python and django{% endblock %}

{% block css %}
{{ block.super }}
<link href="{% static 'demo/css/shepherd-theme-arrows.css' %}" rel="stylesheet">
{% endblock %}

{% block js %}
{{ block.super }}
<script src="{% static 'demo/js/shepherd.js' %}" type="text/javascript"></script>
<script src="{% static 'demo/js/jquery.cookie.js' %}" type="text/javascript"></script>
{% endblock %}

{% block  topbar_links %}
<li id="login_as_menu"><a class="dropdown-button" href="#!" data-target="user-login-as-menu"><i class="material-icons right">arrow_drop_down</i>Login As</a></li>
<ul id="user-login-as-menu" class="dropdown-content"  style="min-width:200px">
    {% for user in users %}
    <li><a data-turbolinks="false" href="{% url 'login_as' %}?user_pk={{ user.pk }}">{{ user }}</a></li>
    {% endfor %}
</ul>
{% endblock %}


{% block main %}
{{ block.super }}


<!-- Yandex.Metrika counter --> <script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter44457673 = new Ya.Metrika({ id:44457673, clickmap:true, trackLinks:true, accurateTrackBounce:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/44457673" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->

{% include 'demo/wizard.html' %}

<script>$('.dropdown-button').dropdown()</script>

{% endblock %}
