main .row .row {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
}

.side-nav li.active>a>span.badge {
    color: #fff;
}

.task-detail {
    margin-left:-0.75rem;
    margin-right:-0.75rem;
    padding-top: 1rem;

    .input-field {
        margin-top: 0;
    }
}

.sidenav .collapsible-body > ul:not(.collapsible) > li.active li:not(.active) a, 
.sidenav.sidenav-fixed .collapsible-body > ul:not(.collapsible) > li.active li:not(.active) a {
    color: rgba(0, 0, 0, 0.87);
}
